{% extends 'base.html.twig' %}

{% block title %}Mooncake Jeu de compteur!{% endblock %}

{% block body %}
<div class="container mt-4">    
<h1 class="display-6">Bienvenue dans le jeu Mooncake !</h1>
<p class="lead">Ceci est une petite description.</p>
<p>Tu es prêt du coup ?</p>
<p class="lead">
    <a class="btn btn-secondary btn-lg" href={{ path("app_game")}} role="button">JE COMMENCE !</a>
</p>
</div>
{% endblock %}
