{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
     

        <button type="submit" class="btn btn-lg btn-primary">S'inscrire</button>

        <p class="small fw-bold mt-2 pt-1 mb-0">Déjà un compte ? <a href={{ path ("app_login")}} class="link">Se connecter</a></p>
    {{ form_end(registrationForm) }}
{% endblock %}
