<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href={{ path("app_home")}}> mooncake
    {# <img src={{asset("../public/img/mooncake.png")}} width="30px" alt="mooncake" class="d-inline-block align-text-top"> #}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href={{ path('app_user') }}>MON ESPACE</a>
        </li>
      </ul>
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <button class="btn btn-light my-2 my-sm-0" type="submit"><a href={{ path("app_logout")}}>Se deconnecter</a></button>
      {% else %}
        <button class="btn btn-light my-2 my-sm-0" type="submit"><a href={{ path("app_login")}}>Se connecter</a></button>
        <button class="btn btn-light my-2 my-sm-0" type="submit"><a href={{ path ("app_register")}}>S'inscrire</a></button>
      {% endif %}
    </div>
  </div>
</nav>