.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
  
.mooncake {
    width: 410px;
    height: 370px;
    cursor: pointer;
    background: url(../img/mooncake.png) no-repeat;
}