{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent()}}
<link href="{{ asset('style/style.css') }}" rel='stylesheet'/>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/index.js') }}" defer></script>
{% endblock %}
{% block title %}Jeu !
{% endblock %}

{% block body %}
<div class="container">
		<span>On lance dans :</span>
		<div id="timer2">5</div>
		<br>
		<span>Score :</span>
		<div id="counter">0</div>
		<br>
		<span>Minuteur :</span>
		<span id="timer">10</span>
		<br>
		<div class="mooncake" id="mooncake"></div>
	</div>
{% endblock %}
