{% extends 'base.html.twig' %}

{% block title %}Score {% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello ! ✅</h1>

    This friendly message is coming from:
    <ul>
   
    </ul>
</div>
{% endblock %}
