{% extends 'base.html.twig' %}

{% block title %}Mon espace{% endblock %}

{% block body %}
<div class="container">
    <h2>C'est mon espace perso</h2>
    <label>Pseudo :</label>
    <input type="text" name="" id="" value= {{ app.user.username }}>
    <br>
    <label>Mot de passe :</label>
    <input type="password" name="" id="" value= {{ app.user.password }}>
    <br>
    <label>E-mail :</label>
    <input type="email" name="" id="" value= {{ app.user.email }}>

    <br>
    <br>
    <input class="btn btn-secondary" type="submit" value="ENREGISRER MES CHANGEMENTS">
</div>
{% endblock %}
